#pic1{
    /* display: flex; */
    width: 400px;
    height: 400px;

}

#pic2{
    /* display: flex; */
    width: 400px;
    height: 400px;

}

#pic3{
    /* display: flex; */
    width: 400px;
    height: 400px;

}